<form method="post">
<div class="row justify-content-center">
	<div class="col-md-7">
		{{info-list}}
		<hr class="colorgraph">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-4">
		<input class="btn btn-primary btn-block" type="submit" value="ส่งข้อมูล">
	</div>
</div>
</form>
