<div class="row">
<div class="col-12 col-md-6 mb-3">
	<div class="col-12 mb-3">
		<div class="card">
			<div class="row p-0 m-0">
				<div class="col">
					<div class="card-body">
						<h3 class="card-title">Logo</h3>
						<a id="logo-select" class="btn btn-primary" href="javascript:;">แก้ไข</a>
						<div id="logo-form" class="twelve columns hide">
							<form method="post" action="#" enctype="multipart/form-data">
								<input name="file" data-parent_id="key" type="file" class="file">
							</form>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-md-5 col-lg-4 col-xl-3">
					<div class="card-body text-center">
						<img src="{{logo}}" class="logo w-100" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 mb-3">
		<div class="card">
			<div class="row p-0 m-0">
				<div class="col">
					<div class="card-body">
						<h3 class="card-title">Favicon</h3>
						<a id="favicon-select" class="btn btn-primary" href="javascript:;">แก้ไข</a>
						<div id="favicon-form" class="twelve columns hide">
							<form method="post" action="#" enctype="multipart/form-data">
								<input name="file" data-parent_id="key" type="file" class="file">
							</form>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-md-5 col-lg-4 col-xl-3 text-center">
					<div class="card-body">
						<img src="{{favicon}}" class="logo w-100" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 mb-3">
		<div class="card">
			<div class="row p-0 m-0">
				<div class="col">
					<div class="card-body">
						<h3 class="card-title">Google Image</h3>
						<a id="google-search-result-image-select" class="btn btn-primary" href="javascript:;">แก้ไข</a>
						<div id="google-search-result-image-form" class="twelve columns hide">
							<form method="post" action="#" enctype="multipart/form-data">
								<input name="file" data-parent_id="key" type="file" class="file">
							</form>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-md-5 col-lg-4 col-xl-3 text-center">
					<div class="card-body">
						<img src="{{google-search-result-image}}" class="logo w-100" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-12 col-md-6  mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="row m-0 justify-content-center">
					<div class="col-6 p-0">
						<h3 class="m-0">Site Information</h3>
					</div>
					<div class="col-6 text-right">
						<a href="edit.php">แก้ไข</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				{{info_list}}
			</div>
		</div>
	</div>
</div>

<script>
$(function(){

	//----- logo
	
	$('body').on('click tap','#logo-select',function(e){
		e.preventDefault();
		e.stopPropagation();
		$('#logo-form input.file').click();
	});
	
	$('#logo-form input.file').change(function(){
		// create a new form data instant
		var fd = new FormData();
		if(this.files[0]['type'] == 'image/jpeg' || this.files[0]['type'] == 'image/png'){
			fd.append('file', this.files[0]);
			fd.append('be', 'logo');
			$.ajax({
				url : "ajax.php",
				type: "POST",
				data : fd,
				processData: false,
				contentType: false,
				success:function(data){
					if(data == 1){ window.location = window.location.href; }
				}
			});
		}else{
			alert('รบกวนเป็น .jpg หรือ .png นะครับ');
		}
	});
	
	//----- favicon
	
	$('body').on('click tap','#favicon-select',function(e){
		e.preventDefault();
		e.stopPropagation();
		$('#favicon-form input.file').click();
	});
	
	$('#favicon-form input.file').change(function(){
		// create a new form data instant
		var fd = new FormData();
		if(this.files[0]['type'] == 'image/jpeg' || this.files[0]['type'] == 'image/png'){
			fd.append('file', this.files[0]);
			fd.append('be', 'favicon');
			$.ajax({
				url : "ajax.php",
				type: "POST",
				data : fd,
				processData: false,
				contentType: false,
				success:function(data){
					$.get("app/site/img/favicon.png");
					$.get("app/site/img/favicon.jpeg");
					if(data == 1){ window.location = window.location.href; }
				}
			});
		}else{
			alert('รบกวนเป็น .jpg หรือ .png นะครับ');
		}
	});
	
	//----- google-search-result-image
	
	$('body').on('click tap','#google-search-result-image-select',function(e){
		e.preventDefault();
		e.stopPropagation();
		$('#google-search-result-image-form input.file').click();
	});
	
	$('#google-search-result-image-form input.file').change(function(){
		// create a new form data instant
		var fd = new FormData();
		if(this.files[0]['type'] == 'image/jpeg' || this.files[0]['type'] == 'image/png'){
			fd.append('file', this.files[0]);
			fd.append('be', 'google-search-result-image');
			$.ajax({
				url : "ajax.php",
				type: "POST",
				data : fd,
				processData: false,
				contentType: false,
				success:function(data){
					$.get("app/site/img/google-search-result-image.png");
					$.get("app/site/img/google-search-result-image.jpeg");
					if(data == 1){ window.location = window.location.href;}
				}
			});
		}else{
			alert('รบกวนเป็น .jpg หรือ .png นะครับ');
		}
	});
});

</script>
</div>
